<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
    <div class="row mb-3">
        <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input [ngModel]="persona.nombre" type="text" class="form-control" placeholder="Nombre de la persona" name="nombre" required>
            <small class="form-text text-danger" *ngIf="miFormulario.controls['nombre']?.invalid">Este campo es obligatorio</small>
        </div>
    </div>

    <!-- Agregar favorito-->
    <div class="row mb-3">
        <label for="nuevoJuego" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input [(ngModel)]="nuevoJuego" type="text" class="form-control" placeholder="Agregar favorito" name="nuevoJuego">
                <button class="btn btn-outline-primary" type="button" (click)="agregar()">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="row mb-3">
        <label for="favorito" class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let juego of persona.favoritos; let i = index">
                <input class="form-control"
                        name="favorito_{{i}}"
                        [(ngModel)]="juego.nombre">
                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary float-end" (click)="guardar()" [disabled]="miFormulario.invalid">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>