<h2>Validaciones Rectivas</h2>
<hr>


<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                            formControlName="nombre"
                            class="form-control"
                            placeholder="Nombre del usuario">
                </div>
                <span class="form-text text-danger"
                        *ngIf="campoNoValido('nombre')">
                    Debe ser en formato de nombre y apellido
                </span>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                            formControlName="email"
                            class="form-control"
                            placeholder="Email del usuario">
                </div>
                <span class="form-text text-danger"
                        *ngIf="campoNoValido('email')">
                    {{emailErrorMsg}}
                </span>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                            formControlName="username"
                            class="form-control"
                            placeholder="Nombre código del usuario">
                </div>
                <span class="form-text text-danger"
                        *ngIf="campoNoValido('username')">
                    El username no puede ser strider
                </span>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                            formControlName="password"
                            class="form-control"
                            placeholder="Contraseña del usuario">
                </div>
                <span class="form-text text-danger"
                        *ngIf="campoNoValido('password')">
                    La contraseña es obligatoria y debe ser mayor de 6 caracteres
                </span>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                            formControlName="confirmar"
                            class="form-control"
                            placeholder="Confirmar la contraseña del usuario">
                </div>
                <span class="form-text text-danger"
                        *ngIf="campoNoValido('confirmar')">
                    Es obligatorio confirmar la contraseña las contraseñas deben ser iguales
                </span>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end" [disabled]="formularioNoValido()">
                        Crear
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Form Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Form Status</span>
        <pre>{{miFormulario.status}}</pre>

        <span>Form Errors</span>
        <pre>{{miFormulario.errors | json}}</pre>

        <span>Pristine</span>
        <pre>{{miFormulario.pristine}}</pre>

        <span>Touched</span>
        <pre>{{miFormulario.touched}}</pre>

        <span>Value</span>
        <pre>{{miFormulario.value | json}}</pre>

        <span>Errores nombre</span>
        <pre>{{miFormulario.controls['nombre']?.errors| json}}</pre>

        <span>Errores email</span>
        <pre>{{miFormulario.controls['email']?.errors| json}}</pre>

        <span>Errores username</span>
        <pre>{{miFormulario.controls['username']?.errors| json}}</pre>

        <span>Errores password</span>
        <pre>{{miFormulario.controls['password']?.errors| json}}</pre>

        <span>Errores confirmar</span>
        <pre>{{miFormulario.controls['confirmar']?.errors| json}}</pre>

    </div>
</div>